<h1>Add music</h1>
<form [formGroup]="angForm" (ngSubmit)="onRegister()">
 <h5 *ngIf="success">Your form is valid!</h5>

 <strong>    Title:  </strong> <br>
 <input type="text" style="font-size:16px"  formControlName="title" maxlength='10'> <br>
 <div *ngIf="registered  && angForm.controls.title.errors" class="error">         
 <div *ngIf="angForm.controls.title.errors.required">Title is required</div></div>    

 <strong>    Writers:  </strong> <br>
 <input type="text" style="font-size:16px"  formControlName="writers" maxlength='10'> <br>
 <div *ngIf="registered  && angForm.controls.writers.errors" class="error">         
 <div *ngIf="angForm.controls.writers.errors.required">Writers is required</div></div> 

 <strong>    Singer:  </strong> <br>
 <input type="text" style="font-size:16px"  formControlName="singer" maxlength='10'> <br>
 <div *ngIf="registered  && angForm.controls.singer.errors" class="error">         
 <div *ngIf="angForm.controls.singer.errors.required">Singer is required</div></div> 

 <strong>    Language:  	</strong>  <br>
 <input type="text" style="font-size:16px"   formControlName="language" maxlength='10'> <br>
 <div *ngIf="registered && angForm.controls.language.errors" class="error">         
 <div *ngIf="angForm.controls.language.errors.required">Language is required</div></div>       

 <strong>    Isrc:  	</strong>  <br>
 <input type="text" style="font-size:16px"   formControlName="isrc" maxlength='20'> <br>
 <div *ngIf="registered && angForm.controls.isrc.errors" class="error">         
 <div *ngIf="angForm.controls.isrc.errors.required">Isrc is required</div></div>

 <input type="submit" value="Register" class="cta"> </form> 
 <div *ngIf="registered" class="results">   </div>